<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Heading 1</h2>
    <img src="images/chevron.svg" alt="" class="chevron collapsible__chevron" />
  </header>
  <div class="collapsible__content">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam cum amet
      quis nemo assumenda impedit. Magni ipsa ullam sint velit!
    </p>
  </div>
</div>

<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Heading 1</h2>
    <img src="images/chevron.svg" alt="" class="chevron collapsible__chevron" />
  </header>
  <div class="collapsible__content">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam cum amet
      quis nemo assumenda impedit. Magni ipsa ullam sint velit!
    </p>
  </div>
</div>
<script src="js/main.js"></script>
