<section class="block container">
  <header class="block__header">
    <h2>Host on the Cloud to Keep Growing</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis,
      voluptatem?
    </p>
  </header>

  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
        minus laborum qui fugiat magni nostrum reiciendis tenetur molestias,
        vitae ipsa.
      </p>
      <a class="link-arrow" href="#">Learn More</a>
    </div>
    <div class="feature__image">
      <img src="images/easy@2x.jpg" alt="" />
    </div>
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#computer"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Simply Fast Websites</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
        minus laborum qui fugiat magni nostrum reiciendis tenetur molestias,
        vitae ipsa.
      </p>
      <a class="link-arrow" href="#">Learn More</a>
    </div>
    <div class="feature__image">
      <img src="images/fast@2x.jpg" alt="" />
    </div>
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#settings"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Wordpress Made Easy</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
        minus laborum qui fugiat magni nostrum reiciendis tenetur molestias,
        vitae ipsa.
      </p>
      <a class="link-arrow" href="#">Learn More</a>
    </div>
    <div class="feature__image">
      <img src="images/wordpress@2x.jpg" alt="" />
    </div>
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#clock"></use>
        </svg>
      </span>
      <h3 class="feature__heading">24/7 Expert Support</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
        minus laborum qui fugiat magni nostrum reiciendis tenetur molestias,
        vitae ipsa.
      </p>
      <a class="link-arrow" href="#">Learn More</a>
    </div>
    <div class="feature__image">
      <img src="images/support@2x.jpg" alt="" />
    </div>
  </article>
</section>
<script src="js/main.js"></script>
